@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #ff5400;
    color: #fff;
    text-shadow: none;
  }
}

@layer components {
  .notch {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 4px;
    background-color: #ff5400;
  }

  .notchHero {
    content: " ";
    position: absolute;
    top: -8px;
    margin-left: 0.5rem;
    width: 30px;
    height: 7px;
    background-color: #ff5400;
  }

  .notchHeroStatic {
    content: " ";
    position: absolute;
    top: -8px;
    left: 6px;
    width: 30px;
    height: 7px;
    background-color: #ff5400;
  }

  .notchList {
    content: "-";
    display: block;
    font-size: 3em;
    font-weight: 700;
    left: -0.6em;
    max-height: 0;
    min-height: 0;
    position: relative;
    top: -30px;
    color: #ff5400;
  }

  @media screen and (max-width: 767px) {
    .notchHero {
      top: auto;
      left: 50%;
      bottom: -28px;
      margin-left: -15px;
    }
  }
}
