@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-thinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("/fonts/lineto-brown-blackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-CondensedRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-CondensedBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
