@font-face {
  font-family: "Brown";
  src: url("./fonts/BrownLLWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("./fonts/BrownLLWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("./fonts/BrownLLWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("./fonts/BrownLLWeb-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Brown";
  src: url("./fonts/BrownLLWeb-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Brown";
  src: url("./fonts/BrownLLWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-CondensedRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Condensed";
  src: url("./fonts/ProximaNova-CondensedRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Condensed";
  src: url("./fonts/ProximaNova-CondensedBold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova-Condensed";
  src: url("./fonts/ProximaNova-CondensedBoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova-Condensed";
  src: url("./fonts/ProximaNova-CondensedSemiboldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 600; 
}

@font-face {
  font-family: "GeistMono";
  src: url("./fonts/GeistMonoVariableVF.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVariableVF.ttf") format("truetype");
}
