name: Release Main Branch
on:
  push:
    branches:
      - "main"

permissions:
  contents: write
  packages: write

jobs:
  build:
    if: ${{ github.actor != 'github-actions[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@global-x-etfs'
          always-auth: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install root dependencies
        run: pnpm install

      - name: Build all packages
        run: pnpm run build

      - name: Publish Packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm publish-packages
